ConfigStore
_site
/docs/HelpLocal.html
HelpLocal-Dateien
bin
obj
/source/DBaddin.vbproj.user
/source/log.txt
TestResults
PUBS_database_scripts
/docs/httrackCopyGithubDoc
/test/pubs.ldb
/compare.WinMerge
/DBAddinReleasePkg.zip
/Distribution
/definitions/pubs/testtable2.xml
/definitions/pubs/test.xml
/definitions/pubs/testtable.xml
/test/test.xlsx
/test/SwapEntry.xlsx
