<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <add key="ConfigName1" value="Oracle"/>
    <add key="ConstConnString1" value="Provider=OraOLEDB.Oracle;Password=pubs12;User ID=pubs"/>
    <add key="ConfigStoreFolder1" value="C:\\dev\\DBAddin.NET\\source\\ConfigStore"/>
    <add key="DBidentifierCCS1" value="User ID="/>
    <add key="DBSheetDefinitions1" value="C:\\dev\\DBAddin.NET\\definitions"/>
    <add key="dbGetAll1" value="select username from sys.all_users"/>
    <add key="dbGetAllFieldName1" value="username"/>
    <add key="ownerQualifier1" value="."/>
    <add key="DBSheetConnString1" value=""/>
    <add key="dbPwdSpec1" value="PWD="/>

    <add key="ConfigName2" value="IBMDB2"/>
    <add key="ConstConnString2" value="Provider=IBMDADB2.DB2COPY1;Persist Security Info=False;User ID=db2user;Data Source=PUBS;Location=Lenovo-PC:50000;Pwd=db2user12"/>
    <add key="ConfigStoreFolder2" value="C:\\dev\\DBAddin.NET\\source\\ConfigStore"/>
    <add key="DBidentifierCCS2" value="Data Source="/>
    <add key="DBSheetDefinitions2" value="C:\\dev\\DBAddin.NET\\definitions"/>
    <add key="dbGetAll2" value=""/>
    <add key="dbGetAllFieldName2" value=""/>
    <add key="ownerQualifier2" value=""/>
    <add key="DBSheetConnString2" value=""/>
    <add key="dbPwdSpec2" value="PWD="/>

    <add key="ConfigName3" value="MSSQL"/>
    <add key="ConstConnString3" value="provider=SQLOLEDB;Server=Lenovo-PC;Trusted_Connection=Yes;Database=pubs;Packet Size=32767"/>
    <add key="ConfigStoreFolder3" value="C:\\dev\\DBAddin.NET\\source\\ConfigStore"/>
    <add key="DBidentifierCCS3" value="Database="/>
    <add key="DBSheetDefinitions3" value="C:\\dev\\DBAddin.NET\\definitions"/>
    <add key="dbGetAll3" value="sp_helpdb"/>
    <add key="dbGetAllFieldName3" value="name"/>
    <add key="ownerQualifier3" value=".dbo."/>
    <add key="ConnStringSearch3" value="provider=SQLOLEDB"/>
    <add key="ConnStringReplace3" value="driver=SQL SERVER"/>

    <add key="ConfigName4" value="Postgres"/>
    <add key="ConstConnString4" value="Provider=PostgreSQL;Data Source=localhost;location=pubs;User ID=pubsUser;password=pubsUser"/>
    <add key="ConfigStoreFolder4" value="C:\\dev\\DBAddin.NET\\source\\ConfigStore"/>
    <add key="DBidentifierCCS4" value="User ID="/>
    <add key="DBSheetDefinitions4" value="C:\\dev\\DBAddin.NET\\definitions"/>
    <add key="dbGetAll4" value="SELECT * FROM pg_catalog.pg_tables WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema'"/>
    <add key="dbGetAllFieldName4" value="name"/>
    <add key="ownerQualifier4" value="public."/>
    <add key="DBSheetConnString4" value=""/>
    <add key="dbPwdSpec4" value="PWD="/>

    <add key="ConfigName5" value="Access"/>
    <add key="ConstConnString5" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\dev\DBAddin.NET\test\pubs.MDB&quot;;Persist Security Info=False;"/>
    <add key="ConfigStoreFolder5" value="C:\\dev\\DBAddin.NET\\source\\ConfigStore"/>
    <add key="DBidentifierCCS5" value="Data Source="/>
    <add key="DBSheetDefinitions5" value="C:\\dev\\DBAddin.NET\\definitions"/>
    <add key="dbGetAll5" value=""/>
    <add key="dbGetAllFieldName5" value=""/>
    <add key="ownerQualifier5" value=""/>
    <add key="DBSheetConnString5" value=""/>
    <add key="dbPwdSpec5" value="PWD="/>

    <add key="ConfigName6" value="MySQL"/>
    <add key="ConstConnString6" value="Driver={MySQL ODBC 8.0 ANSI Driver};Server=localhost;Database=pubs;User=test;Password=frodo12;Option=3"/>
	<add key="AltConnString6" value="ODBC;Driver={MySQL ODBC 8.0 ANSI Driver};Server=localhost;Database=pubs;User=test;Password=frodo12;Option=3"/>
    <add key="ConfigStoreFolder6" value="C:\\dev\\DBAddin.NET\\source\\ConfigStore"/>
    <add key="DBidentifierCCS6" value="Database="/>
    <add key="DBSheetDefinitions6" value="C:\\dev\\DBAddin.NET\\definitions"/>
    <add key="dbGetAll6" value="SHOW DATABASES"/>
    <add key="dbGetAllFieldName6" value="Database"/>
    <add key="ownerQualifier6" value=".dbo."/>

    <add key="CmdTimeout" value="30" />
    <add key="CnnTimeout" value="15" />
    <add key="DefaultDBDateFormatting" value="0" />
    <add key="DefaultEnvironment" value="3" />
    <add key="DontChangeEnvironment" value="False" />
    <add key="DBMapperCUDFlagStyle" value="TableStyleLight11" />
    <add key="DBMapperStandardStyle" value="TableStyleLight9" />
    <add key="maxCellCount" value="300000" />
    <add key="maxCellCountIgnore" value="False"/>
    <add key="DebugAddin" value="False"/>
    <add key="maxNumberMassChange" value="10" />
    <add key="connIDPrefixDBtype" value="MSSQL" />
    <add key="DBSheetAutoname" value="True" />
    <add key="LocalHelp" value="C:\dev\DBAddin.NET\docs\doc\rkapl123.github.io\DBAddin\index.html"/>
    <add key="specialConfigStoreFolders" value="_pubs:_ORE"/>
    <add key="_pubsMaxDepth" value="1"/>
    <add key="_pubsSeparator" value=""/>
    <add key="_OREMaxDepth" value="1"/>
    <add key="disableSettingsDisplay" value="addin"/>
</appSettings>