<?xml version="1.0" encoding="utf-8"?>
<UserSettings>
    <add key="DefaultEnvironment" value="3" />
    <add key="DontChangeEnvironment" value="False" />
    <add key="maxCellCount" value="300000" />
    <add key="maxCellCountIgnore" value="True"/>
    <add key="DebugAddin" value="True"/>
    <add key="maxNumberMassChange" value="10" />
    <add key="DBSheetAutoname" value="False" />
    <add key="ConfigSelect" value="SELECT TOP 10 (SELECT Count(*) FROM !Table!) Anzahl, * FROM !Table!" />
</UserSettings>