<?xml version="1.0" encoding="utf-8"?>
<UserSettings>
    <add key="DefaultEnvironment" value="3" />
    <add key="DontChangeEnvironment" value="False" />
    <add key="maxCellCount" value="300000" />
    <add key="maxCellCountIgnore" value="True"/>
    <add key="DebugAddin" value="True"/>
    <add key="maxNumberMassChange" value="10" />
    <add key="DBSheetAutoname" value="False" />
    <add key="altDBImpl" value="True"/>
    <add key="AdhocSQLcmdselect * from authors" value="select * from authors" />
    <add key="AdhocSQLcmdselect * from employee" value="select * from employee" />
    <add key="AdhocSQLcmdselect * from employee where fname like 'p%'" value="select * from employee where fname like 'p%'" />
</UserSettings>